* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f4f6f9;
}

/* CONTENEDOR */
.container {
    width: 420px;
    margin: 40px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    overflow: hidden;
}

/* HEADER CORPORATIVO */
.header {
    background: #003A8F; /* azul banco */
    color: white;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 20px;
    font-weight: 600;
}

/* TARJETAS */
.card {
    padding: 20px;
    border-bottom: 1px solid #eee;
}

h2 {
    font-size: 15px;
    color: #003A8F;
    margin-bottom: 15px;
}

/* FORMULARIO */
label {
    display: block;
    font-size: 13px;
    margin-top: 10px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ddd;
    margin-top: 5px;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #003A8F;
    box-shadow: 0 0 4px rgba(0,58,143,0.3);
    outline: none;
}

/* RESULTADOS */
.result-box {
    background: #f9fbff;
    border-left: 4px solid #FFDD00; /* amarillo banco */
    padding: 10px;
    margin-top: 15px;
    border-radius: 6px;
}

.result-box p {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: 5px 0;
}

span {
    font-weight: bold;
    color: #003A8F;
}

/* ESTADO */
.estado span {
    color: #e67e22;
}

/* BOTONES */
.buttons {
    display: flex;
    padding: 20px;
    gap: 10px;
}

button {
    flex: 1;
    padding: 12px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

/* BOTÓN PRINCIPAL (amarillo banco) */
#btnCalcularCredito {
    background: #FFDD00;
    color: #003A8F;
}

#btnCalcularCredito:hover {
    background: #f1c40f;
}

/* BOTÓN SECUNDARIO */
#btnReiniciar {
    background: #003A8F;
    color: white;
}

#btnReiniciar:hover {
    background: #002c6b;
}